.ContinueWith {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  min-height: calc(100vh - 219px);
  background-position: center;
  background-size: 103% 104%;
  overflow: hidden;
  position: relative;
}

.ContinueWith .landingPageContentDiv {
  margin: 116px 16px 50px;
  font-size: 54px;
  text-align: center;
  font-weight: bolder;
  color: white;
  z-index: 98;
}

@media only screen and (max-width: 768px) {
  .ContinueWith {
    flex-direction: column;
  }
  .ContinueWith .ios-android {
    width: 100%;
    height: auto;
    margin-right: -25px;
    transform: translateZ(0px);
    margin-top: 0;
  }
  .ContinueWith .landingPageContentDiv {
    margin: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 26px;
    text-align: left;
    width: 80%;
  }
}

.BottomGlass {
  position: absolute;
  height: 602px;
  width: 450px;
  bottom: -225px;
  right: -115px;
  z-index: 95;
}
.BottomChips {
  position: absolute;
  left: -190px;
  bottom: -110px;
  height: 410px;
}
.Chilli {
  position: absolute;
  left: 0;
  /* bottom: -110px; */
  height: 201px;
}
.centerBeef {
  position: absolute;
  left: -100px;
  top: 263px;
  height: 170px;
  z-index: 1;
}
.centerImg {
  position: absolute;
  left: 30%;
  top: 3px;
  height: 160px;
  z-index: 1;
}
.flex-1 {
  flex: 1;
}

.ios-android {
  width: 650px;
  height: 660px;
  margin-top: 30px;
  z-index: 98;
}

.play-store {
  margin: 0 5px;
  width: 250px;
  cursor: pointer;
  z-index: 5;
}

.computer-img {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.alignItem-center {
  align-items: center;
}
.TheWebAppBtnTextDIv {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
