.pastOrderPage {
    padding: 0px 5vw;
    padding-top: 30px;
}
.pastOrderPage .pastOrders {
    padding: 0px 50px;
}
.pastOrderPage .pastOrders .pastTabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.pastOrderPage .pastOrders .pastTabs .tab {
    width: 50%;
    text-align: center;
    font-size: 27px;
}
.pastOrderPage .pastOrders .pastTabs .tab.active {
    font-weight: bolder;
}
.pastOrderPage .orderDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.5vw 1vw 0.5vw rgb(193 246 241);
    padding: 20px 20px 10px 35px;
    margin-bottom: 40px;
}

.pastOrderPage .orderDetail h5 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.pastOrderPage .orderDetail h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.pastOrderPage .orderDetail button {

    background-color: #35c8b8;
    border: none;
    font-size: 17px;
    color: white;
    padding: 6px 25px;
}
.pastOrderPage .orderDetail .detailDiv h3{
    text-align: right;
}
.pastOrderPage .orderDetail .fromDiv h3{
    color: #ea3936;
}
