.OptionButtonContainer {
    flex: 1;
    min-width: 30%;
    padding-bottom: 0px;
    align-items: center;
    justify-content: flex-start;
}

.temp {
    margin-right: 15px;
    margin-bottom: 15px;
}

.DeleteIcon {
    color: red;
    margin-bottom: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 978px) {
}

@media only screen and (max-width: 480px) {
    .OptionButtonContainer {
        justify-content: center;
    }

    .temp {
        display: none;
    }
}