.login-screen {
    background: rgba(62, 161, 117, 0.2);
}

.login-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
    margin-bottom: 10px;
}

.login-logo-container > img {
    width: 100px;
    object-fit: contain;
}

.login-container {
    width: 40vw;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #3ae175;
    box-shadow: 2px 2px 5px, -2px -2px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title-container {
    margin: 5px 0px 15px 0px;
}

.login-button-container {
    margin: 10px 0px 5px 0px;
}

@media only screen and (max-width: 978px) {
    .login-container {
        width: 55vw;
        padding: 10px;
    }

    .login-title-container {
        margin: 3px 0px 10px 0px;
    }

    .login-button-container {
        margin: 7px 0px;
    }
}

@media only screen and (max-width: 480px) {
    .login-container {
        width: 90vw;
        padding: 10px 5px;
    }

    .login-title-container {
        margin: 3px 0px 7px 0px;
    }
}