.DashBoardContainer {
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.DashBoardSectionsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.RestaurantDashBoardContainer {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.DashBoardColumnsContainer {
    display: flex;
    flex-direction: row;
}

.DashBoardGridsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 78vh;
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0px 2px 10px -5px;
    box-sizing: content-box
}

.DashBoardGrids {
    display: grid;
    grid-template-columns: 25% 25% 25% 24%;
    height: 100%;
    padding: 1px;
    grid-gap: 2px;
    overflow-y: auto;
    box-sizing: border-box;
}

.DashboardGridItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.DashBoardServicesContainer {
    width: 20%;
    height: 78vh;
    overflow-y: auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px -5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .DashBoardContainer {
        height: 100%;
        padding: 7px;
    }

    .DashBoardSectionsContainer {
        display: flex;
        flex-direction: column;
    }

    .RestaurantDashBoardContainer {
        padding: 7px 0px;
    }

    .DashBoardGridsContainer {
        width: 100%;
    }
    
    .DashBoardServicesContainer {
        display: none;
    }
}