.DashBoardContainer {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.DashBoardSectionsContainer {
    display: flex;
}

.RestaurantDashBoardContainer {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.DashBoardColumnsContainer {
    display: flex;
    flex-direction: row;
}

.DashBoardGridsContainer {
    width: 80%;
    height: 78vh;
    overflow-y: auto;
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
}

.DashBoardGrids {
    display: grid;
    padding: 1px;
    grid-gap: 2px;
    border: 1px solid black;
}

.DashboardGridItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(245, 222, 179, 0.5); 
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.DashBoardServicesContainer {
    width: 20%;
    height: 78vh;
    overflow-y: auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .DashBoardContainer {
        padding: 7px;
    }

    .DashBoardSectionsContainer {
        display: flex;
        flex-direction: column;
    }

    .RestaurantDashBoardContainer {
        padding: 7px 0px;
    }

    .DashBoardGridsContainer {
        width: 100%;
    }

    .DashboardGridItemContainer {
        padding: 5px 10px;
    }
    
    .DashBoardServicesContainer {
        display: none;
    }
}