.global-header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.global-header-inner{
    height: 150px;
    width: 90%;
    display: flex;
    border: 0px solid rgb(107, 107, 107);
    border-bottom-width: 2px;
    flex-direction: row;
    justify-content: space-between;
}
.global-header-left{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.global-header-search-user{
    width: 12%;
    height: 40px;
    padding: 0 20px ;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 5px rgb(238, 238, 238);
}
.global-location-bar{
    width: 50%;
}
.global-header-right{
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.global-header-search-location{
    width: 70%;
    height: 50px;
    padding: 0 20px ;
    border-radius: 0px !important;
    box-shadow: 0px 1px 10px 5px rgb(238, 238, 238);
}





@media all and (min-width: 1024px) and (max-width: 1280px) {


    .global-header-left{
        width: 40%;
    }
    .global-header-right{
        width: 55%;
    }
    
    .global-header-search-user{
        width: 15%;
    }    
    
.global-header-search-location{
    width: 65%;
    height: 50px;
    padding: 0 20px ;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 5px rgb(238, 238, 238);
}
    .global-location-bar{
        width: 50%;
    }
}




@media all and (min-width: 768px) and (max-width: 1024px) {
    .global-header-left{
        width: 50%;
    }   
    .global-header-search-user{
        width: 25%;
    }    
    .global-header-search-location{
        width: 50%;
        height: 50px;
        padding: 0 20px ;
        border-radius: 8px;
        box-shadow: 0px 1px 10px 5px rgb(238, 238, 238);
    }
    .global-location-bar{
        width: 50%;
    }
}



@media all and (min-width: 480px) and (max-width: 768px) {
    .global-header-inner{
        flex-direction: column;
    }
    .global-header-left{
        width: 100%;
    }
    .global-header-right{
        width: 100%;
    }
    .global-header-search-user{
        width: 20%;
        padding: 0 10px;
    }
    
.global-location-bar{
    width: 40%;
}
.global-header-search-location{
    width: 60%;
    padding: 0 10px;
  
}
}

@media all and (max-width: 480px) {
    .global-header-inner{
        flex-direction: column;
    }
    .global-header-left{
        width: 100%;
    }
    .global-header-right{
        width: 100%;
    }
    .global-header-search-user{
        width: 30%;
        padding: 0 10px;
    }
    
.global-location-bar{
    width: 50%;
    padding: 0 5px;
    
}
.global-header-search-location{
    width: 50%;
    padding: 0 5px;
  
}
}

.cart {
    position: relative;
    display: none;
}

.cart-content {
    box-shadow: 0px 0px 7px 0px #00000080;
    width: 320px;
    height: 320px;
    background-color: white;
    right: 0;
    position: absolute;
    top: 24px;
}

.cart-header {
    padding: 12px 20px;
}

.content {
    padding: 0 20px;
}

.your-order-title {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 10px;
}

.restaurant-name-div {
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
}

.restaurant-title {
    color: red;
}

.selection-box {
    background-color: #d3d3d34d;
    padding: 10px;
    border: navajowhite;
    box-shadow: 0px 1px 2px 0px lightgrey;
    margin-top: 4px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.item-description {
    margin-bottom: -44px;
    margin-left: 14px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-title {
    font-size: 18px;
    font-weight: 800;
}

.size-title {
    font-weight: bold;
    font-size: 14px;
}

.size {
    font-size: 14px;
}

.amount {
    font-weight: 600;
}

.checkout-button {
    background-color: #35c8b8;
    margin-top: 90px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}