.HeaderContainer {
    width: 100%;
    height: 10vw;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.HeaderInnerContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 2vw 0;
    border-bottom: 0.2vw solid black;
}

.HeaderLeft{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderInputContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderLocationBarContainer {
    width: 80%;
    padding: 1vw;
    background: white;
    border-radius: 50px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}

.HeaderInputIcon {
    width: 1.5vw;
    margin-right: 1vw;
}

.HeaderInput {
    flex: 1;
    width: 80%;
    font-size: 1.2vw;
    box-sizing: content-box;
}

input.HeaderInput {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.HeaderRight {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderSearchBarContainer {
    width: 95%;
    padding: 1vw;
    background: white;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}

.cart {
    position: relative;
    display: none;
}

.cart-content {
    box-shadow: 0px 0px 7px 0px #00000080;
    width: 310px;
    height: 320px;
    background-color: white;
    right: -10px;
    position: absolute;
    top: 24px;
}

.cart-header {
    padding: 12px 20px;
}

.content {
    padding: 0 20px;
}

.your-order-title {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 10px;
}

.restaurant-name-div {
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
}

.restaurant-title {
    color: red;
}

.selection-box {
    background-color: #d3d3d34d;
    padding: 10px;
    border: navajowhite;
    box-shadow: 0px 1px 2px 0px lightgrey;
    margin-top: 4px;
}

.selected-quantity {
    margin: 10px;
    font-size: 16px;
    font-weight: 900;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.item-description {
    margin-bottom: -44px;
    margin-left: 14px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-title {
    font-size: 18px;
    font-weight: 800;
}

.size-title {
    font-weight: bold;
    font-size: 14px;
}

.size {
    font-size: 14px;
}

.amount {
    font-weight: 600;
}

.item-details {
    height: 130px;
    overflow: scroll;
}

.checkout-button {
    background-color: #35c8b8;
    margin-top: 24px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 3px solid #ececec;
    box-shadow: -2px 2px 5px 0px #35c8b84f;
}

@media only screen and (max-width: 978px) {
    .HeaderContainer {
        height: 11vw;
    }

    .HeaderLeft {
        width: 40%;
    }

    .HeaderRight {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .HeaderContainer {
        height: 20vw;
    }

    .HeaderInnerContainer {
        flex-direction: column;
        padding: 4vw 0;
    }

    .HeaderLeft {
        width: 100%;
    }

    .HeaderLocationBarContainer {
        padding: 2vw;
    }

    .HeaderInputIcon {
        width: 3vw;
        margin-right: 2vw;
    }

    .HeaderInput {
        font-size: 3vw;
    }

    .HeaderRight {
        margin-top: 3px;
        width: 100%;
    }

    .HeaderSearchBarContainer {
        padding: 2vw;
    }
}