.continue-with {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.ios-android {
    width: 500px;
}

.play-store {
    margin: 0 5px;
    width: 250px; 
    cursor: pointer;
}

.computer-img {
    width: 50px;
    height: 50px;
}