@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3ea175;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.sidebarContainer {
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
}

.full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resturant-list-container{
width: 90%;
/* height: 450px; */
margin: auto;
/* margin-top: 30px;*/
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.resturant-list-component{
/* margin:  22px; */
margin-bottom: 10px;
margin-left: 0px;
margin-right: 44px;
/* margin-right: auto; 
/* justify-content: space-between; */
width: 29%;
/* height: 450px; */
border-radius: 10px;
overflow: hidden;
padding-bottom: 50px;
}
.resturant-button{ 
    background-color:#35c8b8; 
    border: none; 
    width: 200px; 
    height: 75px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}





/* menu-listing-page */

.menuListingSearch{
    height: fit-content;
    padding: 50px 0;
}
.menuListingImagewithText{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.466)),url("../assets/listingbg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* z-index: 999; */
}
.menuListingImagewithTextContainer{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
}
.menuListingImagewithTextContainer h2{
    font-size: 40px;
    color: white;
    font-weight: 900;
}
.menuListingImagewithTextContainer h3{
    font-size: 18px;
    /* font-weight: 400; */
    color: white;
}

.menuListingLocation{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuListingLocationConatiner{
    width: 90%;
    color: #EA3936;
}







.menuListingFeatured{
    width: 100%;
    padding: 50px 0;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}
.menuListingFeaturedContainer{
    width: 90%;
    border: 0px solid rgb(223, 223, 223);
    border-top-width: 3px;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    box-sizing: border-box;
}
.menuListingFeaturedContainerItem{
    min-width: 20%;
    height: 70px;
    margin-top: -3px;
    border: 0px solid rgb(223, 223, 223);
    display: flex;
    border-top-width: 3px;
    border-bottom-width: 3px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menuListingFeaturedContainerItem h3{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.selectedItem{
    border-bottom-color: #EA3936 !important;
    /* font-color: #EA3936 !important; */
}
.selectedItem h3{
    color: #EA3936;
}




.menulistingcontainer{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
 }
 
.selectedItemContainer{
    /* box-shadow: 0px  0px 10px 1px #35c8b8 !important; */
    box-shadow: #35c8b79d 0px 0px 15px 5px !important;
}

.MenuListingContainer h1{
font-size: 40px;
}

.MenuListingContainerItemContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.MenuListingContainerItem{
    width: 48%;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 15px 5px rgb(212, 212, 212);
    margin: 50px 0;
}


/* Footers */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgba(21,21,21,255);
    background-image: url("../assets/footerTransparent.png");
    background-size: cover;
}
.footer-top{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid white;
    border-bottom-width: 1px;
}
.footer-top-left{
    width: 50%;
    height: 100%;
}
.footer-top-right{
    width: 50%;
    height: 100%;
}
.footer-bottom{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
align-items: center;
    color: white;
    flex-direction: row;
}
.footer-top-left{
    /* background-color: lawngreen; */
    height: 100%;
}
.footer-bottom-left p{
    color: white;
    font-size: 1.1vw;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.footer-top-left-top{
padding-top: 5%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.footer-top-left-bottom{
    padding-top: 1vw;
    width: 100%;
    display: flex;
}
.footer-top-left-bottom-img{
    width: 20%;
    aspect-ratio: 2.5;
}
.footer-top-left-bottom-img img{
width: 100%;
height: 100%;
}

.footer-bottom-right{
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: row;
}
.footer-bottom-right-logo{
margin-left: 2vw;
padding: 1vw 0;
}
.footer-bottom-right-logo img{
width: 3vw;
aspect-ratio: 1;
}
.footer-top-right{
display: flex;
flex-direction: row;
justify-content: center;
}
.ftr-left,.ftr-right{
width: 30%;
height: 80%;
padding-top: 2.8vw;
color: white;
}
.ftr-left p,.ftr-right p{
    padding-top: 1.4vw;
    letter-spacing: 1px;
    word-spacing: 5px;
    padding-bottom: 0.7vw;
    font-size: 1.1vw;
    font-weight: 400;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .resturant-list-container{
        width: 90%;
    }
    .resturant-list-component{
        margin:  18px;
    }

    .footer-top-left-bottom{
        width: 100%;
    }

    .footer-top-left-bottom-img{
        width: 130px;
        height: 50px;
    }
    
    .footer-top-left-bottom-img img{
        width: 100%;
        height: 100%;
    }


    .ftr-left,.ftr-right{
        width: 45%;
    }

    .resturant-button{ 
        background-color:#35c8b8; 
        border: none; 
        width: 150px; 
        height: 50px; 
        border-radius: 0;
        border: 5px solid white;
        color: white;
        font-size: 18px;
        box-shadow: 0px 10px 20px 0px #35c8b8;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
/* resturant list */
.resturant-list-container{
width: 90%;
/* height: 300px; */
}
.resturant-list-component{
margin:  15px;
margin-bottom: 0;
width: 45%;
/* min-height: 350px; */
}

.footer-top-left-bottom-img{
    width: 115px;
    height: 45px;
    
    }
    .footer-top-left-bottom-img img{
    width: 100%;
    height: 100%;
    }


.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.ftr-left p,.ftr-right p{
    font-size: 1.3vw;
}

.ftr-left,.ftr-right{
width: 60%;
}
    
.footer-bottom-left p{
    font-size: 1.3vw;
}
.footer-top-left-bottom-img{
width: 100px;
height: 40px;
}

    .resturant-button{ 
        background-color:#35c8b8; 
        border: none; 
        width: 150px; 
        height: 50px; 
        border-radius: 0;
        border: 5px solid white;
        color: white;
        font-size: 18px;
        box-shadow: 0px 10px 20px 0px #35c8b8;
    }

    .button-container-resturant{
        padding: 0;
        padding-bottom: 50px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
.resturant-list-container{
width: 90%;
/* height: 300px; */
}
.resturant-list-component{
/* margin: ; */
margin:  15px auto;
width: 80%;
min-height: 350px;
}

.MenuListingContainerItem{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 10px 1px rgb(212, 212, 212);
    margin: 50px auto;
}


.menuListingImagewithTextContainer h2{
    font-size: 30px;
}
.menuListingImagewithTextContainer h3{
    font-size: 14px;
    font-weight: 400;
}
.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 14px;
}




.footer{
height: fit-content;
}
.footer-top{
height: fit-content;
flex-direction: column;
}
.footer-top-left-top{
    width: 80%;
}
.footer-top-right{
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.ftr-left p,.ftr-right p{
    font-size: 1.5vw;
}

.footer-top-left-bottom-img{
    width: 85px;
    height: 35px;
    margin: 5px 0;
    
    }
    .footer-top-left-bottom-img img{
    width: 100%;
    height: 100%;
    }
.ftr-left,.ftr-right{
width: 50%;

}
    
.footer-bottom-left p{
    font-size: 1.4vw;
}
.button-container-resturant{
    padding: 0px;
    padding-bottom: 50px;
}
.resturant-button{ 
    width: 120px; 
    height: 40px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}
}

@media only screen and (max-width: 480px) {
        .resturant-list-container{
        width: 90%;
        /* height: 300px; */
        }
        .resturant-list-component{
        /* margin: ; */
        margin:  15px auto;
        width: 80%;
        /* min-height: 350px; */
        padding: 0;

        }
        

        
.button-container-resturant{
    padding: 0px;
    padding-bottom: 50px;
}
.resturant-button{ 
    width: 120px; 
    height: 40px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}






.MenuListingContainerItem{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 10px 1px rgb(212, 212, 212);
    margin: 50px auto;
}
.selectedItemContainer{
    /* box-shadow: 0px  0px 10px 1px #35c8b8 !important; */
    box-shadow: #35c8b8 0px 0px 10px 1px !important;
}


.menuListingImagewithTextContainer h2{
    font-size: 24px;
}
.menuListingImagewithTextContainer h3{
    font-size: 12px;
    font-weight: 400;
}
.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 12px;
}




/* FOOTER */
.footer{
    height: fit-content;
    }
    .footer-top{
    height: fit-content;
    }
    .footer-top{
    flex-direction: column;
    }
    .footer-top-right{
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    }
    .ftr-left,.ftr-right{
        margin: 0;
        padding: 0;
        width: 50%;
    }
    
    .footer-bottom-left p{
        font-size: 1.7vw;
    }
    .ftr-left p,.ftr-right p{
        font-size: 1.7vw;
        margin: 0.7vw;
        padding: 0;
    }
    .footer-top-left{
        width: 100%;
        flex-direction: column;
    }
    .footer-top-left-top{
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-top-left-bottom{
        justify-content: space-evenly;
    }
    .footer-top-left-bottom-img{
        width: 60px;
        height: 20px;
    }
    .footer-top-right{
        padding: 0;
    }
 }

@media only screen and (max-width: 978px) {
    .sidebarContainer {
        width: 0%;
    }
}
