@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3ea175;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.sidebarContainer {
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
}
.mainContainer {
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
}
.full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* header styles */
.header{
margin: auto;
width: 90%;
border: rgb(43, 43, 43) 0px solid;
border-bottom-width: 2px;
height: 150px;
display: flex;
flex-direction: row;
}
.header-icon{
height: 100%;
/* width: 3%; */
display: flex;
flex-direction: row;
align-items: center;
}
.sidebar-logo{
    width: 30px;
    aspect-ratio: 1;
    /* display: none; */
}
.searchbar-image{
    width: 20px;
    aspect-ratio: 0.8;
}
.searchbar-image-cart{
    aspect-ratio: 0.9;
}
/* .sidebar-logo img */
.header-icon-logo-container{
    width: 50%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.header-logo{
height: 100%;
width: 80%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.header-logo img{
width: 90px;
height: 90px;
}
.header-searches{
height: 100%;
width: 87%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.header-search-location{
width:60%;
height: 50px;
padding: 0 20px ;
border-radius: 10px;
box-shadow: 0px 1px 10px 5px rgb(238, 238, 238);
}
.header-search-user{
min-width: 10%;
height: 45px;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(238, 238, 238);
}



/* resturant */
.resturant-searchbar{
width: 90%;
height: 50px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}
.resturant-searchbar-container{
width: 100%;
height: 50px;
box-shadow: 1px 1px 5px 1px rgb(218, 218, 218);
border-radius: 10px;
}
.image_holder{
width: 100%;
height: 45vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.heading-container{
width: 90%;
padding-top: 50px;
height: 100px;
margin: auto;
display: flex;
align-items: center;
}
.heading-container h1{
font-size: 40px;
font-weight: 600;
}
.resturant-list-container{
width: 90%;
/* height: 450px; */
margin: auto;
/* margin-top: 30px;*/
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.resturant-list-component{
/* margin:  22px; */
margin-bottom: 10px;
margin-left: 0px;
margin-right: 44px;
/* margin-right: auto; 
/* justify-content: space-between; */
width: 29%;
/* height: 450px; */
border-radius: 10px;
overflow: hidden;
padding-bottom: 50px;
}
.resturant-button{ 
    background-color:#35c8b8; 
    border: none; 
    width: 200px; 
    height: 75px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}





/* menu-listing-page */

.menuListingSearch{
    height: fit-content;
    padding: 50px 0;
}
.menuListingImagewithText{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.466)),url("../assets/listingbg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* z-index: 999; */
}
.menuListingImagewithTextContainer{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
}
.menuListingImagewithTextContainer h2{
    font-size: 40px;
    color: white;
    font-weight: 900;
}
.menuListingImagewithTextContainer h3{
    font-size: 18px;
    /* font-weight: 400; */
    color: white;
}

.menuListingLocation{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuListingLocationConatiner{
    width: 90%;
    color: #EA3936;
}







.menuListingFeatured{
    width: 100%;
    padding: 50px 0;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}
.menuListingFeaturedContainer{
    width: 90%;
    border: 0px solid rgb(223, 223, 223);
    border-top-width: 3px;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    box-sizing: border-box;
}
.menuListingFeaturedContainerItem{
    min-width: 20%;
    height: 70px;
    margin-top: -3px;
    border: 0px solid rgb(223, 223, 223);
    display: flex;
    border-top-width: 3px;
    border-bottom-width: 3px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menuListingFeaturedContainerItem h3{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.selectedItem{
    border-bottom-color: #EA3936 !important;
    /* font-color: #EA3936 !important; */
}
.selectedItem h3{
    color: #EA3936;
}




.menulistingcontainer{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
 }
 
.selectedItemContainer{
    /* box-shadow: 0px  0px 10px 1px #35c8b8 !important; */
    box-shadow: #35c8b79d 0px 0px 15px 5px !important;
}

.MenuListingContainer h1{
font-size: 40px;
}

.MenuListingContainerItemContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.MenuListingContainerItem{
    width: 48%;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 15px 5px rgb(212, 212, 212);
    margin: 50px 0;
}































/* Footers */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgba(21,21,21,255);
    background-image: url("../assets/footerTransparent.png");
    background-size: cover;
}
.footer-top{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid white;
    border-bottom-width: 1px;
}
.footer-top-left{
    width: 50%;
    height: 100%;
}
.footer-top-right{
    width: 50%;
    height: 100%;
}
.footer-top-right p{
    margin-top: 0px;
}
.footer-bottom{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
align-items: center;
    color: white;
    flex-direction: row;
}
.footer-top-left{
    /* background-color: lawngreen; */
    height: 100%;
}
.footer-bottom-left p{
    color: white;
}
.footer-top-left-top{
padding-top: 5%;
    width: 80%;
    
    margin: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.footer-top-left-top img{
    height: 100px;
   width: 100px;
}
.footer-top-left-bottom{
    padding-top: 5%;
    /* height: 70%; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.footer-top-left-bottom-img{
    width: 30%;
    aspect-ratio: 2;
}
.footer-top-left-bottom-img img{
width: 100%;
height: 100%;
}

.footer-bottom-left p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.footer-bottom-right{
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: row;
}
.footer-bottom-right-logo{
margin-left: 10px;
padding-top: 20px;
width: 50px;
aspect-ratio: 1;
}
.footer-bottom-right-logo img{
width: 40px;
aspect-ratio: 1;
}
.footer-top-right{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.ftr-left,.ftr-right{
width: 30%;
height: 80%;
padding-top: 40px;
color: white;
}
.ftr-left p,.ftr-right p{
padding-top: 20px;
letter-spacing: 1px;
word-spacing: 5px;
padding-bottom: 10px;
font-size: 16px;
font-weight: 400;
}



























@media all and (min-width: 1024px) and (max-width: 1280px) {



/* header styles */
.header-icon-logo-container{
    width: 40%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


.header-logo img{
    width: 80px;
    height: 80px;
    }


.header-searches{
width: 78%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.header-search-location{
width: 40%;
height: 65px;
padding: 0 10px ;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}
.header-search-user{
min-width: 10%;
height: 45px;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}


.heading-container h1{
    font-size: 28px;
}
/* resturant list */
.resturant-list-container{
width: 90%;
}
.resturant-list-component{
margin:  18px;
/* min-height: 350px; */
}

.footer-top-left-bottom{
    width: 80%;
}

.footer-top-left-bottom-img{
    width: 150px;
    aspect-ratio: 2;
    }
    .footer-top-left-bottom-img img{
    width: 100%;
    height: 100%;
    }


.ftr-left,.ftr-right{
width: 45%;
}
.resturant-button{ 
    background-color:#35c8b8; 
    border: none; 
    width: 150px; 
    height: 50px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 18px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}


.footer-top-left-top img{
    height: 90px;
   width: 90px;
}

}

 
 
@media all and (min-width: 768px) and (max-width: 1024px) {
   
    .header-icon-logo-container{
        width: 30%;
        height: 100%;
    }
.header{
margin: auto;
width: 90%;
border: rgb(43, 43, 43) 0px solid;
border-bottom-width: 2px;
height: 150px;
/* background-color: #3ea175; */
display: flex;
flex-direction: row;
}
.header-icon{
/* height: 100%; */
width: 30%;
display: flex;
flex-direction: row;
align-items: center;
}
.header-logo{
/* height: 100%; */
width: 70%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.header-logo img{
width:70px;
height: 70px;
}
.header-searches{
height: 100%;
width: 80%;
display: flex;
/* background-color: #3ea175; */
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.header-search-location{
width:45%;
height: 60px;
padding: 0 5px ;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}
.heading-container h1{
    font-size: 28px;
}
.header-search-user{
padding: 0 5px ;
min-width:25%;
height: 45px;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}
/* resturant list */
.resturant-list-container{
width: 90%;
/* height: 300px; */
}
.resturant-list-component{
margin:  15px;
margin-bottom: 0;
width: 45%;
/* min-height: 350px; */
}



.footer-top-left-bottom{
    width: 80%;
}

.footer-top-left-bottom-img{
    width: 150px;
    aspect-ratio: 2;
    
    }
    .footer-top-left-bottom-img img{
    width: 100%;
    height: 100%;
    }


.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 18px;
    margin: 0;
    padding: 0;
}











.ftr-left,.ftr-right{
width: 60%;
}
.footer-top-left-bottom{
    width: 90%;
}
.footer-top-left-bottom-img{
width: 130px;
height: 50px;
}
.footer-bottom-left p{
    font-size: 16px;
}

/* .menu-icon{
    /* font-size: 22px !important; */
    /* width:600px !important;
    background-color: rebeccapurple;
    height: 630px !important;
}
.menu-icon img{
    width: 100%;
    height: 100%;
} */ */
.resturant-button{ 
    background-color:#35c8b8; 
    border: none; 
    width: 150px; 
    height: 50px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 18px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}
.button-container-resturant{
    padding: 0;
    padding-bottom: 50px;
}
.footer-top-left-top img{
 width: 70px;
 height: 70px;   
}
}




@media all and (min-width: 480px) and (max-width: 768px) {

.header-icon-logo-container{
    width: 30%;
}
 .header{
margin: auto;
width: 95%;
border: rgb(43, 43, 43) 0px solid;
border-bottom-width: 2px;
height: 100px;
display: flex;
flex-direction: row;
}
.menu-icon{
    font-size: 20px !important;
}
.header-icon{
height: 100%;
/* width: 30%; */
display: flex;
flex-direction: row;
align-items: center;
}
.header-logo{
height: 100%;
/* width: 70%; */
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.header-logo img{
width:50px;
height: 50px;
}
.header-searches{
height: 100%;
width: 80%;
display: flex;
/* background-color: #3ea175; */
flex-direction: row;
align-items: center;
justify-content: space-around;
}
.header-search-location{
width:35%;
height: 50px;
padding: 0 5px ;
margin: 0 5px ;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}
.header-search-user{
min-width: 7%;
width: 40%;
height: 35px;
margin: 0 5px ;
border-radius: 50px;
box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
}
.heading-container{
    justify-content: center;
}
.heading-container h1{
font-size: 28px;
/* font-weight: 400; */
}
.resturant-list-container{
width: 90%;
/* height: 300px; */
}
.resturant-list-component{
/* margin: ; */
margin:  15px auto;
width: 80%;
min-height: 350px;
}



.MenuListingContainerItem{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 10px 1px rgb(212, 212, 212);
    margin: 50px auto;
}


.menuListingImagewithTextContainer h2{
    font-size: 30px;
}
.menuListingImagewithTextContainer h3{
    font-size: 14px;
    font-weight: 400;
}
.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 14px;
}




.footer{
height: fit-content;
}
.footer-top{
height: fit-content;
flex-direction: column;
}
.footer-top-left-top{
    width: 80%;
    /* justify-content: center; */
}
.footer-top-right{
width: 100%;
justify-content: center;
align-items: flex-start;
/* text-align: center; */
}




.footer-top-left-bottom{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.footer-top-left-bottom-img{
    width: 150px;
    aspect-ratio: 2;
    margin: 5px 0;
    
    }
    .footer-top-left-bottom-img img{
    width: 100%;
    height: 100%;
    }
.ftr-left,.ftr-right{
width: 50%;

}
.footer-top-left-bottom-img{
width: 130px;
height: 50px;
}
.footer-bottom-left p{
    font-size: 16px;
}
.button-container-resturant{
    padding: 0px;
    padding-bottom: 50px;
}
.resturant-button{ 
    width: 120px; 
    height: 40px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}

.footer-top-left-top img{
    width: 70px;
    height: 70px;   
   }


 }
 
@media all and (max-width: 480px) {
    .header{
        margin: auto;
        width: 95%;
        border: rgb(43, 43, 43) 0px solid;
        border-bottom-width: 2px;
        height: fit-content;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        }
        .header-icon-logo-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            width: 40%;
        }
        .header-icon{
            width: 40%;
            height: 100%;
            justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        .header-logo{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        /* background-color: firebrick; */
        align-items: center;
        justify-content: flex-start;
        }
        .header-logo img{
        width:50px;
        height: 50px;
        }
        .header-searches{
        /* height: 100%; */
        width: 100%;
        display: flex;
        /* background-color: #3ea175; */
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }
        .header-search-location{
        width:80%;
        margin: 10px 0;
        height: 50px;
        padding: 0 10px ;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
        }
        .header-search-user{
        /* min-width: 80%; */
        height: 35px;
        margin: 10px 0;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
        }
        .resturant-searchbar{
            height: 10px;
        }
        .heading-container{
            justify-content: center;
            height: fit-content;
            padding: 20px 0;
        }
        .menu-icon{
            font-size: 16px !important;
        }
        .heading-container h1{
        font-size: 24px;
        /* text-align: center; */
        font-weight: 400;
        }
        .resturant-list-container{
        width: 90%;
        /* height: 300px; */
        }
        .resturant-list-component{
        /* margin: ; */
        margin:  15px auto;
        width: 80%;
        /* min-height: 350px; */
        padding: 0;

        }
        

        
.button-container-resturant{
    padding: 0px;
    padding-bottom: 50px;
}
.resturant-button{ 
    width: 120px; 
    height: 40px; 
    border-radius: 0;
    border: 5px solid white;
    color: white;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px #35c8b8;
}






.MenuListingContainerItem{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px  0px 10px 1px rgb(212, 212, 212);
    margin: 50px auto;
}
.selectedItemContainer{
    /* box-shadow: 0px  0px 10px 1px #35c8b8 !important; */
    box-shadow: #35c8b8 0px 0px 10px 1px !important;
}


.menuListingImagewithTextContainer h2{
    font-size: 24px;
}
.menuListingImagewithTextContainer h3{
    font-size: 12px;
    font-weight: 400;
}
.menuListingFeaturedContainerItem{
    width: 20%;
}
.menuListingFeaturedContainerItem h3{
    font-size: 12px;
}




/* FOOTER */
.footer{
    height: fit-content;
    }
    .footer-top{
    height: fit-content;
    }
    .footer-top{
    flex-direction: column;
    }
    .footer-top-right{
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    }
    .ftr-left,.ftr-right{
        margin: 0;
        padding: 0;
        width: 50%;
    }
    .ftr-left p,.ftr-right p{
        font-size: 12px;
        margin: 10px;
        padding: 0;
    }
    .footer-top-left{
        width: 100%;
        flex-direction: column;
    }
    .footer-top-left-top{
        flex-direction: row;
        justify-content: center;
    }
    .footer-top-left-top img{
        width: 50px;
        height: 50px;   
       }
    
    .footer-top-left-bottom{
        width: 100%;
        justify-content: space-evenly;
    }
    .footer-top-left-bottom-img{
        width: 30%;
        aspect-ratio: 2;
    }
    .footer-top-right{
        padding: 0;
    }
    .footer-bottom-left p{
        font-size: 12px;
    }



 }


/* 

@media only screen and (max-width: 978px) {
    .sidebarContainer {
        width: 0%;
    }

    .mainContainer {
        width: 100%;
    }
} */
