@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&display=swap');

*
{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

nav
{
    background-color: transparent;
    margin-top: 2%;
    display: inline-block;

}
.navbar-brand img{
    
    height:80px;
    display: flex;
    align-items: start;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.button_signin
{   padding:4px 25px;
    margin:0 4px 4px 0;
    border: 32px;
    background-color: white;
    border-radius: 67px;
    font-size:18px;
    font-weight:bold!important;
    color:black;
    outline:none;
    border:none;
    display:inline-block;


}
.hamburger
{
   height:40px;
   width:50px;
}
.dropdown-toggle::after
{
    content:none;
}
.navbar-light .navbar-nav .nav-link {
    padding-right: 50px
}
.heading
{
    margin-top:10%; 
    color:#f9f9f9;
    font-size:50px;
    font-weight: bold;
}
.home_header
{
    width:100%;
    height:100vh;
    background-image: url('../assets/transparentHeader.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.home_header::before{

    content: "";
    position: absolute;
    height:auto;
    top: 0;
    bottom: 0;
       left: 0;
    right: 0;
    z-index: -1;
   background-image: linear-gradient(#ea3936,#ea3936); 
  }
  form.example button {
    
    padding: 20px 10px;
    background:#ffc200;
    color: black;
    font-size: 20px;
    width:20%;
    border:none;
    cursor: pointer;
    font-weight: bold!important;

  }
  .example
  {
      max-width:100%;
      display: flex;
      justify-content: start;
      margin-top:2%;
  }
  form.example input[type=text] {
    padding: 10px 20px;
    padding-left:30px;
    font-size: 17px;
    border:none;
    width: 60%;
    background: #f1f1f1;
    position: relative;
    background-image: url("../assets/pin.png");
    background-position-x: 20px;
    background-position-y: 20px;
    background-size:25px ;
    background-repeat: no-repeat;
    outline: none !important;
  }
  ::placeholder
  {
      color:black;
      font-weight: bold!important;
      font-size: small;
      padding-left: 25px;
  }
  input:focus {
   
   background-image:none ;
   background: white;
}
  .pizza
  {
      
      height:200px;
  }
  .section_heading
  {
      font-size:50px;
      font-weight: bold;
  }

  .section_2
  {
      background-image: url("../assets/content1.png");
      background-size:100% 100%;
      width:100%;
      height:60vh;
      margin-top:2%;

  }
  .thirdHeading
  {
      color:#ea3936;
      font-weight: bold!important;
  }
  .para
  {
      font-size:20px;
      /* overflow-y:auto;
      display:block; */

  }
  .para_head
  { display: inline-block;
      background-color: white;
      padding:3%;
      width:60%;
      height:auto;
      margin-top:7%;
      box-shadow: 9px 11px 15px 0px rgba(50, 50, 48, 0.5);
      overflow-y:auto;
      display:block;
      
  }
  .buttonsetion_2
  {
      /* width: 20%; */
      padding:5px 10%;
      font-size: 14px;
      color:white;
      background-color: #00bca5;
      justify-content: end;
      align-items: end;
      display: flex;
      outline:none;
      border:3px solid white;
      text-align: center;
      border-radius:42px;
      text-transform: uppercase;
      -webkit-box-shadow: 0px -4px 20px rgb(217 247 244);
      -moz-box-shadow: 0px -4px 20px rgb(217 247 244);
      box-shadow: 0px -4px 20px rgb(217 247 244);
      margin-top:3% ;
      float:right;
  }
  .section_3
  {
    width:100%;
    /* height: 100vh; */
    background-image: url('../assets/transparentHeader.png');
    background-repeat: no-repeat;
    background-size: 100%; 
    margin-top:20%; 
    /* border-top:2px solid #00bca5; */
    -webkit-box-shadow: 0px -4px 20px rgba(229,255,250);
    -moz-box-shadow: 0px -4px 20px rgba(229,255,250);
    box-shadow: 0px -4px 20px rgba(229,255,250);
    position: relative;
    padding-bottom:3% ;
  }
  .section_3::before{
    content: "";
    position: absolute;
    top:20%;
    bottom: 0;
   left: 0;
    right: 0;
     background-image: url("../assets/section3.png"); 
     background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: #ffc200;
    
  }
  .phone
  {
          width:50%;
          margin-top:5%;
  }
  /* .cont
  {
      background-color:#ffbe06 ;
  } */
  /*
  span{
      font-weight: bold;
      font-size:20px;
  }
  .apple_playstore
  {
    font-size:12px!important;
    line-height: 0em;
  }

  .Playstore
  {
    background-color: white;
    padding:2% 1%;  
  } */

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .playstore
   {
       width:40px;
       height:40px;
       padding-right:10px;
      
   }
   .Apple
  {
      width:60px;
      height:50px;
     
  }
    .app-btn {
     width: 45%;
     max-width: 160px;
     color: black;
   
     padding-top:10px;
    text-align: left;
     border-radius: 5px;
     text-decoration: none;
       font-size: 10px;
     text-transform: uppercase;
      background-color:#fff ;
      transition: background-color 0.25s linear;
   
      }
  
      a {
          text-decoration:none ;
          font-size: 10px;
      }
      .apple_Playstore
      {
          line-height: 1.0;
      }
      .play
      {
          margin-left:20px;
      }

     /* i {
      width: 20%;
      text-align: center;
      font-size: 28px;
      margin-right: 7px;
     } */
     .big-txt {
      font-size: 17px;
      text-transform: capitalize;
     }
  
     .footerTransparent
     {
        width:100%;
        background-image: url('../assets/footerTransparent.png');
        background-repeat: no-repeat;
        background-size:5%;
        height:30vh;
            
     }

       .footer
       {
        width:100%;
        background-image: url('../assets/footerTransparent.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border:2px solid black;
        position: relative;
        padding-top:5%;
       
       }
       .footer::before{
     
        content: "";
        position: absolute;
        height:auto;
        top:0;
        bottom: 0;
       left: 0;
        right: 0;
        z-index: -1;
       background-image: linear-gradient(rgb(21 21 21),rgb(21 21 21)); 
      }
      .footerBrand
      {
          width:40%;
          height:80%;
          float: left;
      }
      .footer_ul li a
      {
          text-decoration: none;
          color:rgb(255 255 255);
          font-size:18px;
          line-height:2.2;
          word-spacing:3px;
          letter-spacing:2px ;
      }
      .footer_ul
      {
          text-align: left;
          float:right;
      }
      .fb , .insta
{
    width:40px;
    height:40px;
    float:right;
    margin-left:10px;
}
.footer_para
{
    font-size:18px;
    color:rgb(255 255 255);
    float:left;
    word-spacing:3px;
    letter-spacing:2px ;
}

.horizontalrow
{
    border-top: 1px solid rgb(255 255 255);

}
@media only screen and (max-width: 768px) {
    .button_signin {
        display: block;
        margin:4px auto ;
    }
    .heading,.section_heading {
        font-size: 30px;
        float:left;
    }
    .thirdHeading
    {
        font-size:20px ;
    }
.home_header
{
    clip-path: polygon(0 0,100% 0%,100% 75%,50% 100%,0% 75%);
}
.section_2
{
    height:30vh;
    
}
.para_head
{ 
    width:100%;
    max-height:200px;
    padding:6%;
}
.para{
    font-size:20px;
}
.section_heading
{
    line-height: 1.0;
    font-size:20px ;
margin:auto;
margin-bottom: 5%;
}
form.example input[type=text],form.example button
{
padding:0px 10px ;
}
form.example button
{
    width:50%;
}
form.example input[type=text]
{
    background-position-x:10px ;
    background-position-y:7px ;
    background-size:12px ;
}
.fb_isnta
{
 display: flex;
 justify-content: center;
 align-items: center; 

}
.footer_ul li a
{
    text-decoration: none;
    color:rgb(255 255 255);
    font-size:15px;
    line-height:1.8;
    word-spacing:2px;
    letter-spacing:1px ;
}
.para
{
    font-size:15px;
}
.footerBrand
{
    width:140px;
    height:80px;
    float: left;
}
  
.footerTransparent
{

   height:25vh;
       
}
}