.header-container{
    width: 100%;
    height: 70vh;
    background-color: #231231;
    background-image: url('../assets/transparentHeader.png');
    background-position: center;
    background-size: 120vw;
}
.header-new{
    width: 90%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-new-left{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    aspect-ratio: 1;
}
.header-new-right{
    width: 30%;  
    height: 100%; 
}
.header-btn {
    background-color: white;
    border-radius: 30px;
    width: 120px;
    color: black;
    border: 0px solid black;
    font-weight: 600;
    padding: 7px 25px !important;
    font-size: 16px !important;


  }



  .section_heading
  {
      margin-bottom: -50px !important;
      font-size:50px !important;
      padding: 0px;
      margin-top: 50px;
      text-align: left !important;
      color: white !important;
  }

.header-box-bottom{
    margin: 0 !important;
    height: fit-content !important;
}
.inputFieldImageContainer{
    height: 40vh !important;
}
.inputFieldContainer{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputField{
    /* margin: auto; */
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}
.inputField input{
    height: 70px !important;
}
.inputFieldText{
    margin: 0px;
    padding: 20px;
    color: black !important;
}


.section-logos{
    width: 30%;
    z-index: 999;
    height: 300px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.section-logos-images-container{
    background-color: white;
    margin: 10px;
    width: 200px;
    aspect-ratio: 2.0;
}







@media all and (min-width: 1024px) and (max-width: 1280px) { 
    
.logo{
    width: 90px;
}
}
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
    
.header-new-left{
    width: 20%;
}
    .logo{
        width: 80px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
        
.header-new-left{
    width: 30%;
}
    .logo{
        width: 75px;
    }
}
 
@media all and (max-width: 480px) { 
         
.header-new-left{
    width: 40%;
}
    .logo{
        width: 70px;
    }
    
  .header-btn {
    background-color: white;
    border-radius: 20px;
    width: 70px;
    color: black;
    border: 0px solid black;
    font-weight: 600;
    padding: 5px 5px !important;
    font-size: 14px !important;


  }
}
 