.FormContainer {
    padding: 30px 0 15px 0;
    display: flex;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.FormInnerContainer {
    width: 50%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.InputsContainer {
    width: 100%;
    box-sizing: border-box;
}

.InputsInnerContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

@media only screen and (max-width: 978px) {
    .FormContainer {
        padding: 0 0 15px 0;
    }

    .FormInnerContainer {
        padding: 15px 15px 0 15px;
    }

    .ButtonContainer {
        padding: 15px 0px;
    }
}

@media only screen and (max-width: 480px) {
    .FormContainer {
        flex-direction: column;
    }

    .FormInnerContainer {
        width: 100%;
        padding: 15px 15px 0 15px;
    }
}