.DashboardGridItem {
    width: 70%;
    max-width: 180px;
    aspect-ratio: 1.5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 2px 10px -5px;
    box-sizing: border-box;
}

.DashboardGridItem:hover {
    cursor: pointer;
}

.DashboardGridItemText {
    font-size: 14px;
}

@media only screen and (max-width: 978px) {
    .DashboardGridItem {
        padding: 5px;
        width: 80%;
        aspect-ratio: 1;
    }

    .DashboardGridItemText {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .DashboardGridItem {
        aspect-ratio: 1;
        width: 100%;
    }

    .ResponsiveDirection {
        flex-direction: column;
    }
}   