.loadingContainer {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.TabularContentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 10px;
    box-sizing: border-box;
}

.TableTopContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.05);
}

.TopLeftContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TableButtons {
    width: 20%;
    margin-left: 5px;
    padding: 3px 0px;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); */
    cursor: pointer;
    overflow: hidden;
}

.TableButtons > p {
    white-space: nowrap;
    font-size: 85%;
}

.TableButtonGreen {
    border-color: rgb(101, 168, 59);
    background-color: rgb(101, 168, 59);
}

.TableButtonGreen:hover {
    background-color: white;
    color: rgb(101, 168, 59);
}

.TableButtonGrey {
    border-color: rgb(192,192,192);
    background-color: rgb(192,192,192);
}

.TableButtonGrey:hover {
    background-color: white;
    color: rgb(192,192,192);
}

.RevenueButtonGreen {
    border-color: rgb(51,111,39);
    background-color: rgb(51,111,39);
}

.RevenueButtonRed {
    border-color: rgb(192,192,192);
    background-color: rgb(136,8,28);
}

.RevenueButtonBrown {
    border-color: rgb(192,192,192);
    background-color: rgb(147,106,51);
}

.RevenueButtonOrange {
    border-color: rgb(192,192,192);
    background-color: rgb(145,40,9);
}

.RevenueButtonBlue {
    border-color: rgb(192,192,192);
    background-color: rgb(14,65,104);
}

.RevenueButtonSeaBlue {
    border-color: rgb(192,192,192);
    background-color: rgb(17,119,119);
}

.RevenueButtonPurple {
    border-color: rgb(192,192,192);
    background-color: rgb(67,42,95);
}

.TableButtonOrange {
    border-color: rgb(234, 113, 28);
    background-color: rgb(234, 113, 28);
}

.TableButtonOrange:hover {
    background-color: white;
    color: rgb(234, 113, 28);
}

.TopRightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.TableDataContainer {
    height: 100%;
    overflow-x: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

td, th {    
    text-align: left;
}

th {
    top: 0;
    position: sticky;
    background: white;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

td {
    color: rgb(72, 72, 72);
    padding: 5px;
}

tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.NoBorder {
    border-bottom: none;
}

@media only screen and (max-width: 978px) {
    .loadingContainer {
        width: 100%;
    }

    .Container {
        padding: 10px;
    }

    td, th {
        font-size: 12px;
    }

    .TableButtons > p {
        font-size: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .TableButtons > p {
        font-size: 50%;
    }
}