.loadingContainer {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.PageTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PageTitleButtonContainer {
    display: flex;
    align-items: center;
}

.TabularContentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 10px;
    box-sizing: border-box;
}

.TableTopContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.05);
}

.TopLeftContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TableButtons {
    width: 20%;
    margin-left: 5px;
    padding: 3px 0px;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
}

.TableButtons > p {
    white-space: nowrap;
    font-size: 85%;
}

.TableButtonGreen {
    border-color: rgb(101, 168, 59);
    background-color: rgb(101, 168, 59);
}

.TableButtonGreen:hover {
    background-color: white;
    color: rgb(101, 168, 59);
}

.TableButtonOrange {
    border-color: rgb(234, 113, 28);
    background-color: rgb(234, 113, 28);
}

.TableButtonOrange:hover {
    background-color: white;
    color: rgb(234, 113, 28);
}

.TopRightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.TopOptionsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.TopInputContainer {
    display: flex;
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
}

.TopButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TableDataContainer {
    height: 100%;
    overflow-x: auto;
}

.HorizontalScrollContainer {
    overflow-x: auto;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 70vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {    
    text-align: left;
}

th {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

td {
    color: rgb(72, 72, 72);
    padding: 5px;
}

tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.NoBorder {
    border-bottom: none;
}

@media only screen and (max-width: 978px) {
    .loadingContainer {
        width: 100%;
    }

    .Container {
        padding: 10px;
    }

    .TopOptionsContainer {
        flex-direction: column;
    }

    .TopInputContainer {
        width: 100%;
        padding-right: 0px;
    }
    
    .TopButtonContainer {
        width: 100%;
    }

    .HorizontalScrollContainer {
        max-height: 65vh;
    }

    td, th {
        font-size: 12px;
    }

    .TableButtons > p {
        font-size: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .PageTitleContainer {
        flex-direction: column;
    }

    .PageTitleButtonContainer {
        justify-content: flex-end;
    }

    .TableButtons > p {
        font-size: 50%;
    }
}